<div id="container">

    <div>

        <a href="http://gurman-ufa.ru" target="_blank" ><img src="/images/logo.png" class="logo" alt="глобус гурман" /></a>
        <a wl-submit="cart" href="#" class="basket"><span>{ sumStr < sumtrigger }</span></a>
        <a wl-submit="info" href="#" class="info"></a>
        <h1>Корзина</h1>

        <!-- <div class="scroll-top"><ins></ins></div> -->
        <form action="" class="basket-all">
      <ul class="choice">
          <li rv-each-product="cart"><p><a href="#">{ product.name }</a><span>{ product.price } руб</span></p><div class="number"><a rv-on-click="product.minus" href="#">-</a><input rv-value="product.quantity" type="text" readonly /><a rv-on-click="product.plus" href="#">+</a></div></li>
            <div class="clear"></div>
        </ul>
        </form>
        <!-- <div class="scroll-bottom"><ins></ins></div> -->

    </div>

    <div class="footer">
          <a wl-submit="_back" href="#" class="link-left-small"></a>
            <a wl-submit="form" href="#" class="link-right-small"><span>Заказать</span></a>
       </div>
</div>
