<div id="container">

    <div>

        <a href="http://gurman-ufa.ru" target="_blank" ><img src="/images/logo.png" class="logo" alt="глобус гурман" /></a>
        <a wl-submit="cart" href="#" class="basket"><span>{ sumStr < sumtrigger }</span></a>
        <a wl-submit="info" href="#" class="info"></a>
        <h1>Роллы</h1>

        <div class="popup">
          <a wl-submit="_back" href="#" class="close"></a>
          <img rv-src="product.bigImage" />
            <h2>{ product.name }</h2>
            <p>{ product.price } руб.</p>
        </div>


    </div>

    <div class="footer">
          <a wl-submit="_back" href="#" class="link-left-small"></a>
            <!-- <a href="link" class="link-right-big"><span>Заказать</span></a> -->
       </div>

</div>