<div id="container">

    <div class="thanks">

        <a href="http://gurman-ufa.ru" target="_blank" ><img src="/images/logo.png" class="logo" alt="глобус гурман" /></a>
        <a href="#" class="basket"></a>
        <a wl-submit="info" href="#" class="info"></a>
        <h1>глобус гурман</h1>

        <div class="center">
          <p><ins>Спасибо за заказ!</ins><br />Наш тел. (347) 293-68-16<br /><a href="link">gurman-ufa.ru</a></a></p>
            <p>Сумма заказа:<br /><ins>{ sumStr }</ins></p>
            <p>Ждите звонка</p>
        </div>


    </div>

    <div class="footer">
          <a wl-submit="main" href="#"  class="link-right-big"><span>Еще</span></a>
       </div>

</div>