<div id="container">
  
    <div>
      
        <a href="http://gurman-ufa.ru" target="_blank" ><img src="/images/logo.png" class="logo" alt="глобус гурман" /></a>
        <a wl-submit="cart" href="#" class="basket"><span>{ sumStr < sumtrigger }</span></a>
        <a wl-submit="info" href="#" class="info"></a>
        <h1>Информация</h1>
        
        <div class="center">
          <p>Время работы:<br />с 8:00 до 23:00</p>
            <p>Сроки доставки:<br />в течение часа, в отедельные районы в течение 3 часов</p>
            <p>Доставка: 150 рублей.</p>
            <p>Бесплатная доставка:<br />от 1000 руб.</p>
            <p>Тел. (347) 293-68-16</p>
        </div>
        
        
    </div>
    
    <div class="footer">
          <a wl-submit="_back" href="#" class="link-left-small"></a>
       </div>
  
</div>