<div id="container">

    <div>

        <a href="http://gurman-ufa.ru" target="_blank" ><img src="/images/logo.png" class="logo" alt="глобус гурман" /></a>
        <a wl-submit="cart" href="#" class="basket"><span>{ sumStr }</span></a>
        <a wl-submit="info" href="#" class="info"></a>
        <h1>глобус гурман</h1>

      <ul class="choice double">
          <li><a wl-submit="section" wl-data="pancakes" href="#"><img src="/images/35/wo.png" alt="" /><span>Блины</a></span></li>
            <li class="right"><a wl-submit="section" wl-data="rolls" href="#"><img src="/images/35/philadelphia.png" alt="" /><span>Роллы</a></span></li>
            <li><a wl-submit="section" wl-data="salads" href="#"><img src="/images/35/greek.png" alt="" /><span>Салаты</a></span></li>
            <li class="right"><a wl-submit="section" wl-data="hot" href="#"><img src="/images/35/wokveggie.png" alt="" /><span>Горячее</a></span></li>
            <li><a wl-submit="section" wl-data="desserts" href="#"><img src="/images/35/honeywhole.png" alt="" /><span>Десерты</a></span></li>
            <li class="right"><a wl-submit="section" wl-data="beverages" href="#"><img src="/images/35/mojito.png" alt="" /><span>Напитки</a></span></li>
            <div class="clear"></div>
        </ul>

    </div>

    <div class="footer">
            <a wl-submit="cart" href="#" class="link-right-small">Заказать</a>
       </div>

</div>
