<div id="container" class="night">
  
    <div>
      
        <a href="http://gurman-ufa.ru" target="_blank" ><img src="/images/logo.png" class="logo" alt="глобус гурман" /></a>
         
        <a wl-submit="info" href="#" class="info"></a>
        <h1>глобус гурман</h1>
        <p class="slogan">Глобус спит...<br />заказывайте нашу продукцию завтра</p>
      
    </div>
    
 
  
</div>